@use "@/styles/variables" as *;
.paymentsBlock {
  padding: 16px;
  border-radius: 8px;
  box-shadow: $shadow-light;
  background: $color-bg;
  border: 1px solid $color-border;
  @media (max-width: 600px) {
    padding: 12px;
  }
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  @media (max-width: 600px) {
    font-size: 20px;
    margin-bottom: 12px;
  }
}
.table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.moreLink {
  margin-top: 16px;
  color: $color-primary;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
