@use "@/styles/variables" as *;
.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); // фикс против растягивания
  gap: 24px;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 959px) {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
  }

  @media (max-width: 600px) {
    gap: 12px;
    padding: 12px;
  }
}
